body {
    font-family: Arial, sans-serif;
    background-color: #c4e1f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 30px;
}

#quote-box {
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 40px;
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

#quote {
    font-size: 18px;
    margin-bottom: 10px;
}

#author {
    font-style: italic;
    color: #555;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 100px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}